* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  background-color: rgb(3, 5, 43);
}

header {
  color: white;
  padding-bottom: 5%;
  border-bottom: 2px solid white;
}
header h1 {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 5%;
}
header .logo {
  max-width: 150px;
}
header nav .font-a {
  color: white;
  font-size: 1.25rem;
}
header nav .font-a:hover {
  background-color: white;
  color: rgb(3, 5, 43);
}
header nav .navbar {
  padding-bottom: 0%;
}
header nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header nav .navbar-toggler {
  color: transparent;
}

@media (min-width: 768px) {
  header {
    color: white;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
  }
  header h1 {
    font-size: 0.8rem;
    text-align: left;
    padding-left: 2%;
  }
  header .logo {
    max-width: 150px;
  }
  header nav .navbar {
    padding-bottom: 0%;
  }
  header nav .collapse {
    display: flex;
    justify-content: flex-end;
  }
  header nav .font-a {
    color: white;
    font-size: 1rem;
  }
  header nav .font-a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: white;
    color: rgb(3, 5, 43);
    border-radius: 5%;
  }
}
@media (min-width: 1200px) {
  header {
    color: white;
    padding: 0% 8% 1% 8%;
    border-bottom: 2px solid white;
  }
  header .logo {
    max-width: 200px;
  }
  header h1 {
    font-size: 1rem;
    text-align: left;
    padding-left: 1.8%;
  }
  header nav .navbar {
    padding-bottom: 0%;
  }
  header nav .collapse {
    display: flex;
    justify-content: flex-end;
  }
  header nav .font-a {
    color: white;
    font-size: 1.2rem;
  }
  header nav .font-a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: white;
    color: rgb(3, 5, 43);
  }
}
main h2 {
  padding: 5% 3% 5% 3%;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
}

@media (min-width: 768px) {
  main h2 {
    padding: 3%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  main h2 {
    padding: 3%;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
  }
}
footer .sociales {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  gap: 2%;
}
footer .sociales a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
footer .insta {
  width: 20%;
}
footer .face {
  width: 18%;
}
footer .logo-foot {
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer .sociales a {
    text-decoration: none;
    color: white;
    font-size: 1.35rem;
  }
  footer .insta {
    width: 20%;
  }
  footer .face {
    width: 18%;
  }
  footer .logo-foot {
    width: 100%;
    align-self: center;
    padding: 5%;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 8% 2% 8%;
  }
  footer .sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .sociales a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
  }
  footer .insta {
    width: 20%;
  }
  footer .face {
    width: 20%;
    padding-left: 1%;
  }
  footer .logo-foot {
    width: 100%;
    align-self: center;
    padding: 5%;
  }
}
.nuestros-prod {
  padding-bottom: 8%;
  border-bottom: 2px solid white;
}

.about {
  border-bottom: 2px solid white;
}
.about div {
  display: flex;
  padding: 0% 3% 0% 3%;
  justify-content: space-evenly;
}
.about img {
  max-width: 100%;
  height: 100%;
  align-self: center;
}
.about p {
  width: 60%;
  color: white;
  text-align: center;
}

.envio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
  border-bottom: 2px solid white;
}
.envio h2 {
  color: white;
  text-align: center;
}
.envio img {
  width: 100%;
  padding: 0% 2% 0% 2%;
}
.envio p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  padding: 2%;
  margin: 0;
}
.envio a {
  text-decoration: none;
  color: rgb(3, 5, 43);
  background-color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4%;
  border-radius: 5%;
  align-content: center;
}
.envio a:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(3, 5, 43);
}
.envio .envio-fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.contacto {
  padding-bottom: 8%;
  border-bottom: 2px solid white;
}
.contacto h2 {
  text-align: center;
  padding-bottom: 1%;
}
.contacto p {
  color: white;
  text-align: center;
  padding: 1% 3% 1% 3%;
  margin: 0;
}
.contacto h3 {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin: 0;
}
.contacto .contacto1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5% 3% 5% 3%;
}
.contacto .contacto1 .img1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 5% 2% 5%;
}
.contacto .contacto1 .img1 h3 {
  padding-left: 5%;
}
.contacto .contacto1 .img1 .what {
  width: 22%;
}
.contacto .contacto1 .img2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 5% 2% 5%;
  width: 100%;
}
.contacto .contacto1 .img2 h3 {
  font-size: 1.1rem;
  padding-left: 5%;
}
.contacto .contacto1 .img3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 5% 2% 5%;
}
.contacto .contacto1 .img3 h3 {
  font-size: 1.1rem;
  padding-left: 4%;
  text-align: left;
}
.contacto .contacto2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.contacto .contacto2 label {
  color: white;
  font-size: 1.2rem;
  padding: 2%;
}
.contacto .contacto2 input {
  width: 100%;
  background-color: white;
}
.contacto .contacto2 textarea {
  width: 100%;
  background-color: white;
}

@media (min-width: 768px) {
  .nuestros-prod {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
  }
  .nuestros-prod .carousel {
    padding: 0% 3% 0% 3%;
  }
  .about {
    border-bottom: 2px solid white;
  }
  .about div {
    display: flex;
    padding: 0% 3% 5% 3%;
    justify-content: space-evenly;
  }
  .about img {
    max-width: 100%;
  }
  .about p {
    font-size: 1.25rem;
    width: 70%;
    color: white;
    text-align: center;
    margin: 0;
    align-self: center;
  }
  .envio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    border-bottom: 2px solid white;
  }
  .envio h2 {
    color: white;
    text-align: center;
  }
  .envio img {
    width: 100%;
    padding: 0% 5% 0% 5%;
  }
  .envio p {
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 2% 8% 2% 8%;
    margin: 0;
  }
  .envio a {
    text-decoration: none;
    color: rgb(3, 5, 43);
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 2%;
    border-radius: 5%;
    align-content: center;
  }
  .envio a:hover {
    color: white;
    background-color: rgb(3, 5, 43);
  }
  .contacto {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
  }
  .contacto h2 {
    text-align: center;
    padding-bottom: 1%;
  }
  .contacto p {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    padding: 1% 15% 1% 15%;
    margin: 0;
  }
  .contacto h3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .contacto .contacto1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10% 5% 15%;
  }
  .contacto .contacto1 .img1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
  .contacto .contacto1 .img1 h3 {
    padding-left: 5%;
  }
  .contacto .contacto1 .img1 .what {
    width: 15%;
  }
  .contacto .contacto1 .img2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
  .contacto .contacto1 .img2 img {
    width: 15%;
  }
  .contacto .contacto1 .img2 h3 {
    font-size: 1.6rem;
    padding-left: 5%;
  }
  .contacto .contacto1 .img3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
    width: 100%;
  }
  .contacto .contacto1 .img3 img {
    width: 16%;
  }
  .contacto .contacto1 .img3 h3 {
    font-size: 1.5rem;
    padding-left: 5%;
    text-align: start;
  }
  .contacto .contacto2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  }
  .contacto .contacto2 label {
    color: white;
    font-size: 1.2rem;
    padding: 2% 2% 2% 0%;
  }
  .contacto .contacto2 input {
    width: 66.5%;
    background-color: white;
  }
  .contacto .contacto2 textarea {
    width: 100%;
    background-color: white;
  }
  .contacto .contacto2 .label2 input {
    width: 86%;
  }
  .contacto .contacto2 .label3 input {
    width: 80.5%;
  }
  .contacto .contacto2 .label4 input {
    color: rgb(3, 5, 43);
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .nuestros-prod {
    padding-bottom: 5%;
    border-bottom: 2px solid white;
  }
  .nuestros-prod .carousel {
    padding: 0% 8% 0% 8%;
  }
  .about {
    border-bottom: 2px solid white;
  }
  .about div {
    display: flex;
    padding: 0% 3% 5% 3%;
    justify-content: center;
  }
  .about img {
    width: 25%;
  }
  .about p {
    font-size: 1.8rem;
    width: 60%;
    color: white;
    text-align: left;
    margin: 0;
    align-self: center;
  }
  .envio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
    border-bottom: 2px solid white;
  }
  .envio p {
    font-size: 1.7rem;
    color: white;
    text-align: center;
    padding: 2% 8% 2% 8%;
    margin: 0;
  }
  .envio h2 {
    color: white;
    text-align: center;
  }
  .envio img {
    width: 100%;
    padding: 0% 8% 0% 8%;
  }
  .envio a {
    text-decoration: none;
    color: rgb(3, 5, 43);
    background-color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2%;
    border-radius: 5%;
    align-content: center;
  }
  .envio a:hover {
    color: white;
    background-color: rgb(3, 5, 43);
  }
  .envio .envio-fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0% 8% 0% 8%;
  }
  .envio .envio-fila p {
    width: 68%;
    padding: 2% 0% 2% 0%;
    text-align: left;
  }
  .envio .envio-fila a {
    height: 100%;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
  }
  .contacto h2 {
    text-align: center;
    padding-bottom: 1%;
  }
  .contacto p {
    width: 100%;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    padding: 1% 10% 1% 10%;
    margin: 0;
  }
  .contacto h3 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .contacto .contacto1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 2% 2% 2% 8%;
  }
  .contacto .contacto1 .img1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
  .contacto .contacto1 .img1 h3 {
    padding-left: 5%;
  }
  .contacto .contacto1 .img1 .what {
    width: 15%;
  }
  .contacto .contacto1 .img2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
  .contacto .contacto1 .img2 h3 {
    font-size: 1.6rem;
    padding-left: 5%;
  }
  .contacto .contacto1 .img3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
  .contacto .contacto1 .img3 h3 {
    font-size: 1.5rem;
    padding-left: 5%;
    text-align: start;
  }
  .contacto .contacto2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 8% 2% 2%;
  }
  .contacto .contacto2 label {
    color: white;
    font-size: 1.2rem;
    padding: 2% 2% 2% 0%;
  }
  .contacto .contacto2 input {
    background-color: white;
  }
  .contacto .contacto2 textarea {
    width: 100%;
    background-color: white;
  }
  .contacto .contacto2 .label1 input {
    width: 64.5%;
  }
  .contacto .contacto2 .label2 input {
    width: 85.5%;
  }
  .contacto .contacto2 .label3 input {
    width: 79.5%;
  }
  .contacto .contacto2 .label4 input {
    color: rgb(3, 5, 43);
    width: 50%;
  }
}
.about-opin {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about-opin p {
  width: 100%;
}

@media (min-width: 768px) {
  .about-opin {
    display: flex;
    align-items: center;
  }
  .about-opin p {
    width: 40%;
    padding-bottom: 2%;
  }
}
@media (min-width: 1200px) {
  .about-opin {
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    align-items: center;
  }
  .about-opin p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
  }
}
.prod-tarj {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 5%;
}
.prod-tarj article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 75%;
  padding: 5%;
  margin-bottom: 10%;
}
.prod-tarj article img {
  width: 75%;
  padding-bottom: 5%;
}
.prod-tarj article p {
  color: white;
}
.prod-tarj article a {
  text-decoration: none;
  color: rgb(3, 5, 43);
  background-color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4%;
  border-radius: 5%;
  align-content: center;
}
.prod-tarj article a:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(3, 5, 43);
}

@media (min-width: 768px) {
  .prod-tarj {
    display: flex;
    align-items: flex-start;
    padding-bottom: 5%;
  }
  .prod-tarj article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 5%;
    margin: 2%;
    width: 45%;
  }
  .prod-tarj article img {
    width: 78%;
    padding-bottom: 5%;
  }
  .prod-tarj article p {
    color: white;
    font-size: 1.5rem;
  }
  .prod-tarj article a {
    text-decoration: none;
    color: rgb(3, 5, 43);
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 4%;
    border-radius: 5%;
    align-content: center;
  }
  .prod-tarj article a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: white;
    background-color: rgb(3, 5, 43);
  }
}
@media (min-width: 1200px) {
  .prod-tarj {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }
  .prod-tarj article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    padding: 2%;
    margin: 2%;
    width: 25%;
  }
  .prod-tarj article img {
    width: 78%;
    padding-bottom: 5%;
  }
  .prod-tarj article p {
    color: white;
    font-size: 1.5rem;
  }
  .prod-tarj article a {
    text-decoration: none;
    color: rgb(3, 5, 43);
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 4%;
    border-radius: 5%;
    align-content: center;
  }
  .prod-tarj article a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: white;
    background-color: rgb(3, 5, 43);
  }
}
header {
  color: white;
  padding-bottom: 5%;
  border-bottom: 2px solid white;
}
header h1 {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 5%;
}
header .logo {
  max-width: 150px;
}
header nav .font-a {
  color: white;
  font-size: 1.25rem;
}
header nav .font-a:hover {
  background-color: white;
  color: rgb(3, 5, 43);
}
header nav .navbar {
  padding-bottom: 0%;
}
header nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header nav .navbar-toggler {
  color: transparent;
}

@media (min-width: 768px) {
  header {
    color: white;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
  }
  header h1 {
    font-size: 0.8rem;
    text-align: left;
    padding-left: 2%;
  }
  header .logo {
    max-width: 150px;
  }
  header nav .navbar {
    padding-bottom: 0%;
  }
  header nav .collapse {
    display: flex;
    justify-content: flex-end;
  }
  header nav .font-a {
    color: white;
    font-size: 1rem;
  }
  header nav .font-a:hover {
    background-color: white;
    color: rgb(3, 5, 43);
  }
}
@media (min-width: 1200px) {
  header {
    color: white;
    padding: 0% 8% 1% 8%;
    border-bottom: 2px solid white;
  }
  header .logo {
    max-width: 200px;
  }
  header h1 {
    font-size: 1rem;
    text-align: left;
    padding-left: 1.8%;
  }
  header nav .navbar {
    padding-bottom: 0%;
  }
  header nav .collapse {
    display: flex;
    justify-content: flex-end;
  }
  header nav .font-a {
    color: white;
    font-size: 1.2rem;
  }
  header nav .font-a:hover {
    background-color: white;
    color: rgb(3, 5, 43);
  }
}
footer .sociales {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  gap: 2%;
}
footer .sociales a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
footer .insta {
  width: 20%;
}
footer .face {
  width: 18%;
}
footer .logo-foot {
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer .sociales a {
    text-decoration: none;
    color: white;
    font-size: 1.35rem;
  }
  footer .insta {
    width: 20%;
  }
  footer .face {
    width: 18%;
  }
  footer .logo-foot {
    width: 100%;
    align-self: center;
    padding: 5%;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 8% 2% 8%;
  }
  footer .sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .sociales a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
  }
  footer .insta {
    width: 20%;
  }
  footer .face {
    width: 20%;
    padding-left: 1%;
  }
  footer .logo-foot {
    width: 100%;
    align-self: center;
    padding: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
