.about-opin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    p {
        width: 100%;
    }
}

@media (min-width:768px) {
    .about-opin {
        display: flex;
        align-items: center;

        p {
            width: 40%;
            padding-bottom: 2%;
        }
    }
}

@media (min-width:1200px) {
    .about-opin{
        display: flex;
        flex-wrap: nowrap;
        gap: 5%;
        align-items: center;
        p{
            font-size: 1.5rem;
            width: 50%;
            text-align: center;
        }
    }
}